In [2]:
var=range(1,11)
var

range(1, 11)

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [8]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [10]:
var[7:9]

range(8, 10)

In [12]:
type(var)

range

In [14]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [21]:
for i in range(1,10):
    print("==================")
    for j in range(1,10):
        print("%d X %d = %2d" %(i,j,i*j))

==================
1 X 1 =  1
1 X 2 =  2
1 X 3 =  3
1 X 4 =  4
1 X 5 =  5
1 X 6 =  6
1 X 7 =  7
1 X 8 =  8
1 X 9 =  9
==================
2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
==================
3 X 1 =  3
3 X 2 =  6
3 X 3 =  9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
==================
4 X 1 =  4
4 X 2 =  8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
==================
5 X 1 =  5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
==================
6 X 1 =  6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
==================
7 X 1 =  7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
==================
8 X 1 =  8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
==================
9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [24]:
print('aaa',end=' ')
print('bbb')

aaa bbb

In [30]:
for i in range(2,10):
    print('\n')
    for j in range(1,10):
        print("%2d" %(i*j),end=' ')

 2  4  6  8 10 12 14 16 18

 3  6  9 12 15 18 21 24 27

 4  8 12 16 20 24 28 32 36

 5 10 15 20 25 30 35 40 45

 6 12 18 24 30 36 42 48 54

 7 14 21 28 35 42 49 56 63

 8 16 24 32 40 48 56 64 72

 9 18 27 36 45 54 63 72 81

In [31]:
test_list=['one','two','three']

for i in test_list:
    print(i)

one
two
three

In [32]:
scores=[78,85,95,65]
total=0
for score in scores:
    total+=score

print(total/len(scores))

80.75

# for문에 tuple 사용하기

In [34]:
var=[(1,2),(3,4),(5,6)]

for first,last in var:
    print(first,":",last)

1 : 2
3 : 4
5 : 6

In [35]:
sum1=0
for first,last in var:
    sum1+=first+last
print(sum1)

21

In [44]:
scores=[90,25,67,45,80]

for number in range(len(scores)):
    if scores[number]>60:
        print("%d의 학생은 합격입니다."%(number+1)) 
    else:
        print("%d의 학생은 불합격입니다."%(number+1))

1의 학생은 합격입니다.
2의 학생은 불합격입니다.
3의 학생은 합격입니다.
4의 학생은 불합격입니다.
5의 학생은 합격입니다.

In [55]:
number=1
avg=0.0
total=0

import numpy as np

print("학급의 평균 점수는 %0.2f 점입니다."%np.mean(scores))
print("학급의 총점은 %d 점입니다.\n"%np.sum(scores))

for score in scores:
    if score>60:
        print("%d의 학생은 점수가 %d이므로 합격입니다."%(number,score)) 
    else:
        print("%d의 학생은 점수가 %d이어서 불합격입니다."%(number,score))
    number+=1

학급의 평균 점수는 61.40 점입니다.
학급의 총점은 307 점입니다.

1의 학생은 점수가 90이므로 합격입니다.
2의 학생은 점수가 25이어서 불합격입니다.
3의 학생은 점수가 67이므로 합격입니다.
4의 학생은 점수가 45이어서 불합격입니다.
5의 학생은 점수가 80이므로 합격입니다.

In [57]:
var01=[1,2,3,4]
var02=[]

for i in var01:
    var02.append(i*5)
    
print(var02)

[5, 10, 15, 20]

In [63]:
var01=[1,2,3,4]
var02=[]

var02=[i*5 for i in var01 if i%2==0]
var02

[10, 20]

In [68]:
var01=[i*j for i in range(2,10) for j in range(1,10)]
print(var01)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [69]:
scores=[90,25,67,45,80]
passList=[i for i in scores if i>=60]
print("합격한 학생들의 평균 점수는 %.2f입니다."%np.mean(passList))

합격한 학생들의 평균 점수는 79.00입니다.